---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<style>
  header {
    padding: 1rem 2rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>